{# src/Acme/SecurityBundle/Resources/views/Security/login.html.twig #}
{% extends "UnislugN2Bundle::layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}

    <form action="?action=login" method="post">
        {{ form_widget(form) }}

        {# Note: ensure the submit name does not conflict with the form's name or it may clobber field data #}
        <input type="submit" name="login" />
    </form>

{% endblock %}
